* {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}
header {
  height: 15vh;
  background-color: rgb(228, 226, 224);
}
header h1{
  color: rgb(88, 128, 29);
  padding: 2vh 0 0 1vw;
}
main {
  display: flex; 
  flex-direction: row;
  
  
  width: 100vw;
  height: 100vh;
}
main :nth-child(2){
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: space-between;
  height: 15vh;
}
nav {
  margin: 3vh auto  ;
  width: 30vw;
}
ul {
list-style-type: none;
display: flex;
justify-content:space-around;
}

li {
  text-decoration: none;
}
section:first-child, section:last-child{
  width: 25vw;
  background-color: gray;
  height: 100vh;
}

p{
  padding: 10px;
}
footer {
  background-color: black;
  color: aliceblue;
  height: 5vh;
}
article{
  flex-direction: row;
  border: 3px solid green;
  /* width: 70vw; */
}



@media (max-width: 720px) {
  
  main {
    flex-direction: column;
    width: 100vw;
  }
  section:first-child, section:last-child{
    /* width: 25vw; */
    background-color: gray;
    width: 100vh;
    height: auto;
  }
  main :nth-child(2){
  width: 100vw;
  height: auto;
  }
}